* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000223;
  /* linear-gradient(#00004D, #000223, #000033, #00001A, black); */
  color: white;
}

.container {
  padding: 10px 10%;
}
