.header-text {
    text-align: left;
}

.head {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.header-text h1 {
    font-size: 4em;
    font-weight: 700;
    
}

.header-text p {
    font-size: 1.5em;
    
}

.hero-btn {
    padding: 20px 50px;
    border-radius: 10px;
    border-width: 2px;
    background-color: white;
    border-color: white;
    text-decoration: none;
    font-size: 1.5em;
    color: #050419;
    transition:  0.5s ease

}

.hero-btn:hover {
    background-color: #8D9797;
    color: white;
}

.hero-btn-align {
    margin-top: 40px;
}

.cols {
    display: flex;
    margin-top: 7em;
    gap: 5em;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .cols {
    animation: slideInFromRight 2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }

.sec img {
    border-radius: 1em;
}

.logo {
    height: 2.6em;;
}

.hero-pic {
    transition: transform 0.3s ease
}

.hero-pic:hover {
    animation: glide 1s ease-in-out infinite;
  }

@keyframes glide {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }