.first {
    margin-top: 2.5em;
}

.first h1 {
    font-size: 4em;
    color: #8D9797;
}

.first p {
    font-size: 2em;
}

.line {
    margin: 5em 0;
}

.second, .third {
    display: flex;
    gap: 10em;
}

.one h2 {
    font-size: 2em;
}

.two h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #8D9797;
    
}

.two p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.m-text {
    animation: slideInFromLeft 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}