nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: 0.6s;
}

ul {
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #47474780;
    backdrop-filter: blur(40px);
}

ul a {
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, filter 0.3s;
}

ul a:hover, ul a.active {
    background-color: #0006;
    padding: 10px 15px;
}

ul li:hover a {
    filter: none; 
}

ul li:hover ~ li a {
    filter: blur(2px);
}